.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid cyan;
  border-radius: 8px;
  padding: 20px;
  margin: 30px 30px;
  background: rgb(0, 0, 20);
  color: cyan;
  transition: all 0.3s ease; 
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 0 15px cyan;
  transform: scale(1.015);  
}

.card-icon i {
  font-size: 40px;
  color: cyan;
  padding-right: 25px;
}
body {
background: rgb(0, 0, 20);
  font-family: arial;
}
